fastapi
gunicorn
uvicorn
python-multipart

sqlalchemy

google-genai

pypdf

chromadb
pydantic[email]
psycopg2
argon2-cffi
langchain-text-splitters
sentence-transformers

passlib[bcrypt]
python-jose[cryptography]

python-dotenv